In [30]:
# Dependencies and setup
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.exc import ProgrammingError
import warnings
from create_db import engine
import datetime
import blackcellmagic

# Traffic Incident Data
---

In [31]:
#Fetch incidents from the incidents table in the MySQL db.
DATABASE = "team_big_bend"
engine.execute(f"USE {DATABASE}")
get_incidents = engine.execute("Select * from incidents")

In [32]:
#Put query results and columns into a data frame and display results
incidents = pd.DataFrame(get_incidents.fetchall())
incidents.columns = get_incidents.keys()
incidents

,index,ReportID,IncidentDesc,Address,IncidentDate,Street,RecordDate
0,108,F594216AB73D45120DC603E926DA86C1AE918428_15089...,Crash Urgent,N LAMAR BLVD & W ST JOHNS AVE,2017-10-25T12:15:00.000Z,LAMAR,2017-10-25
1,128,BE2608CD9B0E64302FCB6170D889D6A11E1EBDD7_15089...,Crash Urgent,N LAMAR BLVD & W BRAKER LN,2017-10-25T13:40:00.000Z,LAMAR,2017-10-25
2,148,B37376966AC6D8C371B3A1D74862360FE5710E1C_15089...,Crash Service,2108 S LAMAR BLVD,2017-10-25T15:00:00.000Z,LAMAR,2017-10-25
3,149,869655D8ABDC71EBDF8A999DE0B7E85B1FA69D28_15089...,Crash Service,12430 N LAMAR BLVD,2017-10-25T15:00:00.000Z,LAMAR,2017-10-25
4,183,C71CC62930CF523FCF54EFD029485F66FA5D839A_15089...,Crash Service,9504 N LAMAR BLVD,2017-10-25T16:45:00.000Z,LAMAR,2017-10-25
...,...,...,...,...,...,...,...
5902,162696,73CA0CCD6FF3D0CA58884DEAAAD9E042EC048A8F_15815...,Traffic Hazard,N LAMAR BLVD & W KOENIG LN,2020-02-12T17:00:08.000Z,LAMAR,2020-02-12
5903,162739,CEDF5CCD8253FB636743D0248D10BCC0F11C8EDF_15815...,Traffic Hazard,0 W 5TH ST & N LAMAR BLVD,2020-02-12T21:05:03.000Z,LAMAR,2020-02-12
5904,162744,3AEC82C18CCCA37A61500A2C658E353667387D9D_15815...,Traffic Hazard,W 5TH ST & N LAMAR BLVD SVRD SB,2020-02-12T21:25:04.000Z,LAMAR,2020-02-12
5905,162778,1E768A21723E530122240FA219BFF8C3365F40B2_15815...,Crash Service,W ANDERSON LN SVRD EB & N LAMAR NB TO ANDERSON...,2020-02-12T23:45:05.000Z,LAMAR,2020-02-12
5906,162789,6124FEB79623C94CE6ED9EDD1595CFE9A90B470C_15815...,Traffic Hazard,N LAMAR BLVD & BEAVER ST,2020-02-13T00:15:05.000Z,LAMAR,2020-02-13

In [33]:
#Create a data frame that contains the daily incident count for the data set and display the results
incident_daily = pd.DataFrame(incidents.groupby("RecordDate")["ReportID"].count()) \
                .rename(columns={"ReportID" : "Incident Count"})
incident_daily

            Incident Count
RecordDate
2017-10-25              11
2017-10-26               5
2017-10-27               8
2017-10-28               5
2017-10-29               2
...                    ...
2020-02-09               7
2020-02-10               5
2020-02-11               5
2020-02-12              11
2020-02-13               1

[831 rows x 1 columns]

---
# Travel Data
---

In [35]:
#Fetch bluetooth data from the bluetooth table in the MySQL db.

get_bluetooth = engine.execute("Select * from bluetooth")

#Put query results and columns into a data frame and display results
tvld = pd.DataFrame(get_bluetooth.fetchall())
tvld.columns = get_bluetooth.keys()
tvld

,index,ID,Start,Ending,TravelTime,MPH,StartTime,EndTime
0,0,f8eeda31566106941f8c7ffb228f572c,LAMAR_45TH,LAMAR_38TH,97,24,2018-08-28T16:20:22,2018-08-28T16:21:59
1,1,ab357879188c7d6504910dfdd2a4ab33,LAMAR_45TH,LAMAR_38TH,106,22,2018-08-28T16:21:38,2018-08-28T16:23:24
2,2,aa584b27d9261eb5eb41ccd02dae46bc,LAMAR_45TH,LAMAR_38TH,133,18,2018-08-28T16:24:19,2018-08-28T16:26:32
3,3,a8ad305c4196febf0bcdee9f2e54925c,LAMAR_45TH,LAMAR_38TH,169,14,2018-08-28T16:24:19,2018-08-28T16:27:07
4,4,b6e619a05e11f79d0871a4731d13a8f8,LAMAR_45TH,LAMAR_38TH,127,19,2018-08-28T16:28:15,2018-08-28T16:30:22
...,...,...,...,...,...,...,...,...
49995,49995,ee681f59fcb27cd7c9beb43cffd1cac8,LAMAR_OLTORF,LAMAR_AND_MANCHCA_BARTON_SKYWAY,66,42,2018-08-31T06:31:23,2018-08-31T06:32:29
49996,49996,374c6b50f9be94f4224d231819bdc17e,LAMAR_OLTORF,LAMAR_AND_MANCHCA_BARTON_SKYWAY,78,36,2018-08-31T06:45:35,2018-08-31T06:46:53
49997,49997,4f7bd4c4f3d59addf197fecead749b93,LAMAR_OLTORF,LAMAR_AND_MANCHCA_BARTON_SKYWAY,67,41,2018-08-31T06:59:20,2018-08-31T07:00:27
49998,49998,6745e48b008353f50aa5bdf5beb37a54,LAMAR_OLTORF,LAMAR_AND_MANCHCA_BARTON_SKYWAY,110,25,2018-08-31T07:00:27,2018-08-31T07:02:17
49999,49999,bc212c805ff5564a1cf03819c5c7e6ee,LAMAR_OLTORF,LAMAR_AND_MANCHCA_BARTON_SKYWAY,110,25,2018-08-31T07:00:27,2018-08-31T07:02:17

In [36]:
tvld.shape

(50000, 8)

In [37]:
tvld["hwy"] = tvld["Ending"].str.extract("(LAMAR)", expand = True)
tvld["RecordDate"] = tvld["StartTime"].str.extract("(\d+-\d+-\d+)", expand = True)
tvld_filtered_df = tvld[tvld.hwy.notnull()]

In [38]:
#preserve this
travel_by_date = pd.DataFrame(tvld_filtered_df.groupby("RecordDate").agg({
                                 "ID" : "count",
                                 "TravelTime" : "mean",
                                 "MPH" : "mean"
                                })).rename(columns={
                                                        "ID" : "Vehicle Count",
                                                        "TravelTime" : "AVG Travel Time",
                                                        "MPH" : "AVG Speed (mph)"
                                                    })
travel_by_date

            Vehicle Count  AVG Travel Time  AVG Speed (mph)
RecordDate
2018-08-27              1      1440.000000        10.000000
2018-08-28           2977       162.542492        20.446087
2018-08-29          18041       157.303919        23.086969
2018-08-30          18877       157.779573        22.923558
2018-08-31           6226       176.385159        22.647767
2018-09-06             21       109.714286        23.428571

---
# Traffic Incidents vs Vehicle Speed
---

In [39]:
#Merge the two data sets and show results
main_df = travel_by_date.join(incident_daily).fillna(0)
main_df["Incident Count"] = main_df["Incident Count"].astype("int64")
main_df.head(50)

            Vehicle Count  AVG Travel Time  AVG Speed (mph)  Incident Count
RecordDate
2018-08-27              1      1440.000000        10.000000               4
2018-08-28           2977       162.542492        20.446087              10
2018-08-29          18041       157.303919        23.086969               4
2018-08-30          18877       157.779573        22.923558               6
2018-08-31           6226       176.385159        22.647767               5
2018-09-06             21       109.714286        23.428571               3

In [40]:
#Create data frame to showcase incidents and travel information
incident_impact = pd.DataFrame(main_df.groupby("Incident Count").agg({
                                 "Vehicle Count" : "sum",
                                 "AVG Travel Time" : "mean",
                                 "AVG Speed (mph)" : "mean"
                                }))

In [41]:
#Drop first and last row because the data is not valid and skews the data plots
incident_impact = incident_impact[1:(len(incident_impact)-1)]

In [42]:
#Add impact percentage columns
incident_impact["Travel_Impact"] =  (((incident_impact["AVG Travel Time"] - incident_impact["AVG Travel Time"].mean()) \
                                     / incident_impact["AVG Travel Time"].mean()) * 100)#.map("{0:.2f}%".format)

incident_impact["Speed_Impact"] =  (((incident_impact["AVG Speed (mph)"] - incident_impact["AVG Speed (mph)"].mean()) \
                                     / incident_impact["AVG Speed (mph)"].mean()) * 100)#.map("{0:.2f}%".format)

In [43]:
incident_impact

,Vehicle Count,AVG Travel Time,AVG Speed (mph),Travel_Impact,Speed_Impact
Incident Count,,,,,
4,18042,798.651959,16.543484,111.504288,-20.098841
5,6226,176.385159,22.647767,-53.288517,9.383419
6,18877,157.779573,22.923558,-58.215771,10.715422

In [44]:
impact_smry = incident_impact.reset_index()
impact_smry

,Incident Count,Vehicle Count,AVG Travel Time,AVG Speed (mph),Travel_Impact,Speed_Impact
0,4,18042,798.651959,16.543484,111.504288,-20.098841
1,5,6226,176.385159,22.647767,-53.288517,9.383419
2,6,18877,157.779573,22.923558,-58.215771,10.715422

In [45]:
#stage the bins and label variables and create bins and create Age Range column to add to the dataframe
bins= [0, 3, 6, 9, 12, 15, 18, 21]
group_names = ["1-3","4-6","7-9","10-12","13-15","16-18","19-21"]
impact_smry["Incident Count"]= pd.cut(impact_smry["Incident Count"],bins, labels=group_names)
impact_smry

,Incident Count,Vehicle Count,AVG Travel Time,AVG Speed (mph),Travel_Impact,Speed_Impact
0,4-6,18042,798.651959,16.543484,111.504288,-20.098841
1,4-6,6226,176.385159,22.647767,-53.288517,9.383419
2,4-6,18877,157.779573,22.923558,-58.215771,10.715422

In [46]:
#Create data frame showcasing the number of incidents vs speed 
incident_vs_speed = pd.DataFrame(impact_smry.groupby("Incident Count").agg({
                                 "Speed_Impact" : "mean"
                                }))
incident_vs_speed

                Speed_Impact
Incident Count
1-3                      NaN
4-6            -1.717145e-14
7-9                      NaN
10-12                    NaN
13-15                    NaN
16-18                    NaN
19-21                    NaN

In [47]:
#function to auto label the bars for the plot with the percent value
def autolabel(bars, incidentplt):
    for bar in bars:
        x = bar.get_x() + bar.get_width() / 2
        y = bar.get_height()
        if y < 0:
            ylab = -.5
        else:
            ylab = .5
        incidentplt.annotate("{0:.2f}%".format(y), (x,(ylab)), xytext = (0,5), textcoords = "offset points",
                    ha ="center", va = "bottom", color = "w", fontsize = 15, weight = "bold")

In [48]:
#plot data
mask = incident_vs_speed["Speed_Impact"] <= 0
colors = np.array(["b"] * len(incident_vs_speed["Speed_Impact"]))
colors[mask.values] = "r"
matplotlib.rcParams.update({'font.size': 15})
incidentplt = incident_vs_speed["Speed_Impact"].plot.bar(figsize = (15,15),color = colors,width = 1, edgecolor = "k", \
                               title = "Impact Of Traffic Events On Vehicle Speed (Lamar BLVD)",  \
                               grid = True)
autolabel(incidentplt.patches,incidentplt)
incidentplt.set(xlabel = "Number Of Incidents (Daily)", ylabel = "Impact On Speed (%)")
plt.xticks(rotation='horizontal')
plt.savefig("Images/incident_impact.png")
plt.show()

ValueError: Image size of 913x799752560 pixels is too large. It must be less than 2^16 in each direction.

In [49]:
%reload_ext blackcellmagic