In [11]:
import requests
import json
import pandas as pd
from matplotlib import pyplot as plt
import os
import plotly.graph_objects as go
from ipywidgets import widgets
import plotly.express as px

In [12]:
h_df = pd.read_csv("hour_traffic.csv")

In [13]:
h_df

,start_time,df_360,df_71,df_lamar,df_35,df_290,df_183,df_airport,df_2222,df_burnet,df_loop1
0,0,38168,2760,285478,17550,3419,100404,36542,137662,110841,32118
1,1,25737,2158,231793,14436,2422,72942,27335,94686,81549,24317
2,2,19639,1755,194656,12898,2230,56415,23274,73125,67812,20253
3,3,15476,1443,161678,10712,1947,44186,19304,56828,53016,14468
4,4,11451,996,119731,9124,2147,34731,14601,37611,39482,9532
5,5,13090,760,82739,15388,3946,38176,15689,35856,44203,6446
6,6,36470,944,58452,30648,8079,68949,29653,94899,82433,7383
7,7,72037,985,47609,36179,10676,83614,44917,192206,141306,10723
8,8,83410,998,34134,39440,13287,89454,48540,218135,157905,13267
9,9,81307,1192,22169,32610,15499,84971,44366,201685,143624,12704
10,10,76112,1507,35012,29868,17553,90518,42647,182607,143644,14758
11,11,89381,2629,89554,38228,17929,128405,52997,225637,179392,23576
12,12,106658,3418,192670,46525,17686,156610,68533,287590,224871,37692
13,13,114327,3703,266724,48891,18324,166112,79274,320696,256332,47052
14,14,117064,3932,274986,43955,19707,167981,80764,322267,254619,50358
15,15,122271,3716,267131,39261,20076,168777,81126,328696,246798,48734
16,16,130727,3797,282048,38355,20441,181513,81930,350622,257717,48452
17,17,134930,4160,310239,38555,19678,192320,81302,370936,265239,51618
18,18,121701,4331,328484,38030,18432,181975,78504,332844,246619,50838
19,19,94151,3984,329376,34018,14404,163111,70472,268187,211928,47570
20,20,79482,3616,344637,30671,10253,153651,65391,236149,197311,46781
21,21,75326,3432,362249,28471,8397,152464,63167,229936,186163,46272
22,22,65518,3320,349058,24274,6955,144250,59476,216313,171353,45082
23,23,51280,3065,329393,21754,4895,126708,48021,184827,146359,40591

In [38]:
origin = widgets.Dropdown(options =  
            list(h_df.columns),
            value = 'df_360',
            description = 'Major Road/Highway',
            disabled = False)
trace1 = go.Bar(x = h_df.index, y = h_df['df_360'], name = 'Hourly Traffic')
g = go.FigureWidget(data = (trace1), layout = go.Layout(title = dict(text = 'Traffic by Hour')))

def response(change):
#     temp_df = h_df[f'{origin.value}']
    with g.batch_update():
        g.data[0].y = h_df[origin.value]
        g.layout.xaxis.title = 'Hour of Day (24:00)'
        g.layout.yaxis.title = f"{origin.value}"
        
origin.observe(response, names = 'value')
container = widgets.HBox([origin])
widgets.VBox([origin, g])

VBox(children=(Dropdown(description='Major Road/Highway', index=1, options=('start_time', 'df_360', 'df_71', 'â€¦

In [27]:
g.data

(Bar({
     'name': 'Hourly Traffic',
     'uid': '6aaff424-37c4-4c80-8861-f2fd364a2a35',
     'x': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
                 18, 19, 20, 21, 22, 23]),
     'y': array([ 38168,  25737,  19639,  15476,  11451,  13090,  36470,  72037,  83410,
                  81307,  76112,  89381, 106658, 114327, 117064, 122271, 130727, 134930,
                 121701,  94151,  79482,  75326,  65518,  51280])
 }),)

In [41]:
g.data[0].name

'Hourly Traffic'